<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org" >
<th:block th:fragment="headerFragment">
    <!-- 헤더 영역 -->
    <nav class="navbar navbar-light bg-light">
        <div class="container">
            <a class="navbar-brand" href="#">
                <img src="/img/brand.png" alt="로고 이미지" style="width: 43px; height: 49px;" class="mr-3">
            </a>
            <div class="navbar-links" style="float:right">
                <!-- 로그인한 사용자에게 로그아웃 링크 보여주기 -->
                <button th:if="${#authorization.expression('isAuthenticated()')}" th:href="@{/logout}" type="button" class="btn" data-bs-toggle="button">로그아웃</button>
                <!-- 로그인하지 않은 사용자에게 로그인 및 회원가입 링크 보여주기 -->
                <button th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/login}" type="button" class="btn" data-bs-toggle="button">로그인</button>
                <button th:unless="${#authorization.expression('isAuthenticated()')}" th:href="@{/signup}" type="button" class="btn" data-bs-toggle="button">회원가입</button>
            </div>
        </div>
    </nav>
</th:block>
</html>