<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">

    <head>
        <title>E-commerce</title>
        <link rel="icon" href="/static/img/brand.png"/>
        <link rel="apple-touch-icon" href="/static/img/brand.png"/>
        <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css" rel="stylesheet">
    </head>
</html>



<!-- 사용법 <!DOCTYPE html><html xmlns:th="http://www.thymeleaf.org" th:replace="layout :: header">-->
<!--<head th:replace="layout :: header">-->
<!--    <title>E-commerce - Index</title>-->
<!--</head>-->
<!--<body>-->
<!--</body>-->
<!--</html>-->
