<!DOCTYPE html>

<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:sec="http://www.thymeleaf.org/extras/spring-security"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>홈</title>

    <link href="https://fonts.googleapis.com/css2?family=Lato&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Cormorant+Garamond:wght@500&display=swap" rel="stylesheet">

    <!--  bootstrap   -->
    <script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js" integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.11.8/dist/umd/popper.min.js" integrity="sha384-I7E8VVD/ismYTF4hNIPjVp/Zjvgyol6VFvRkX/vR+Vc4jQkC+hVqc2pM8ODewa9r" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.min.js" integrity="sha384-0pUGZvbkm6XF6gxjEnlmuGrJXVbNuzT9qBBavbLwCsOGabYfZo0T0to5eqruptLy" crossorigin="anonymous"></script>


    <link href="/css/home_img_silder.css" rel="stylesheet">
    <link href="/css/button.css" rel="stylesheet">
    <link href="/css/img_hover.css" rel="stylesheet">
    <link href="/css/main_button_.css" rel="stylesheet">


    <style>
        .custom_project_about_container {
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .custom_project_about{
            font-size: 18px; /* 모바일에서 사용할 폰트 크기 */
            text-align: center;
            border:1px solid;
            width: calc(33.33% - 10px);
            height: 211px;
            align-items: center; /* 수직 가운데 정렬 */
            margin-bottom: 10px;
            float:left;
            flex-direction: column; /* 세로 방향으로 요소들을 배열 */
            align-items: center; /* 수직 가운데 정렬 */
            justify-content: space-between; /* 위 아래 여백을 동일하게 분배하여 상하 정렬 */
            border-radius: 19px;
            margin:5px 3px 5px 3px;
            max-height: 300px; /* 최대 높이 설정 */
        }
        .custom_project_about_img{
            text-align: center;
            width: calc(33.33% - 10px);
            margin-bottom: 10px;
            float:left;
            display: flex; /* Flexbox 설정 */
            flex-direction: column; /* 세로 방향으로 요소들을 배열 */
            margin:5px 3px 5px 3px;
        }

        .custom_project_about_container2{
            flex-wrap: wrap;
            justify-content: space-between;
        }
        .custom_project_about2{
            padding: 60px 0px 60px 60px;
            height: 600px;
            border: 1px solid;
            margin: 50px;
            margin-left: 61px;
        }

        .custom_project_about2 div {
            word-wrap: break-word;
            margin-left: 6px;
            max-width: 523px;
            float: left;
            font-size: 25px;
            max-width: 500px; /* 최대 너비를 600px로 설정 */
        }
//    margin-left: 126px;
@media screen and (max-width: 768px) {
    .custom_project_about {
        width: calc(50% - 10px); /* 모바일 환경에서는 2열로 나누기 */
    }

    .custom_project_about_img img {
        height: 222px;
    }

    .custom_project_about_img {
        height: 222px;
    }
}

@media screen and (max-width: 1199px) {
    .custom_project_about2 {
        height: 1042px;
        margin-left: 5%;
        padding: 50px 0px 60px 25px;
    }
    .custom_project_about2 div {
        width: 100%;
        font-size: 22px;
    }

}
    </style>
</head>
<th:block layout:fragment="content">
    <body>
    <!-- 이미지 영역 -->
    <div class="slider">
        <div class="slider__inner">
            <!-- Slides -->
            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="/img/e-main.jpg" class="slider__item-img"/>
                    <div class="slider__item-datas">
                        <div class="slider__item-datas__dev">
                            <div class="slider__item__title">
                                title
                            </div>
                            <div class="slider__item__content">
                                일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일
                            </div><!--context max = 30 -->
                            <div style="float:left;width:60% "></div>
                        </div>
                        <div style="float:left;width:100%;margin-top:3%;  pointer-events: auto;">
                            <button class="custom-btn btn-7" style="float:left;pointer-events: auto;" onclick="#">
                                바로가기 1
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="/img/e-main.jpg" class="slider__item-img"/>
                    <div class="slider__item-datas">
                        <div class="slider__item-datas__dev">
                            <div class="slider__item__title">
                                title
                            </div>
                            <div class="slider__item__content">
                                일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일
                            </div><!--context max = 30 -->
                            <div style="float:left;width:60% "></div>
                        </div>
                        <div style="float:left;width:100%;margin-top:3%;  pointer-events: auto;">
                            <button class="custom-btn btn-7" style="float:left;pointer-events: auto;" onclick="#">
                                바로가기 2
                            </button>
                        </div>
                    </div>
                </div>
            </div>
            <div class="slider__item">
                <div class="slider__item-container">
                    <div class="hover08 column">
                        <img src="/img/e-main.jpg" class="slider__item-img"/>
                    </div>
                    <div class="slider__item-datas">
                        <div class="slider__item-datas__dev">
                            <div class="slider__item__title">
                                title
                            </div>
                            <div class="slider__item__content">
                                일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일
                            </div><!--context max = 30 -->
                            <div style="float:left;width:60% "></div>
                        </div>
                        <div style="float:left;width:100%;margin-top:3%;  pointer-events: auto;">
                            <button class="custom-btn btn-7" style="float:left;pointer-events: auto;" onclick="#">
                                바로가기 3
                            </button>
                        </div>

                    </div>
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="/img/e-main.jpg" class="slider__item-img"/>
                    <div class="slider__item-datas">
                        <div class="slider__item-datas__dev">
                            <div class="slider__item__title">
                                title
                            </div>
                            <div class="slider__item__content">
                                일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일
                            </div><!--context max = 30 -->
                            <div style="float:left;width:60% "></div>
                        </div>
                        <div style="float:left;width:100%;margin-top:3%;  pointer-events: auto;">
                            <button class="custom-btn btn-7" style="float:left;pointer-events: auto;" onclick="#">
                                바로가기 4
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider__item">
                <div class="slider__item-container">
                    <img src="/img/e-main.jpg" class="slider__item-img"/>
                    <div class="slider__item-datas">
                        <div class="slider__item-datas__dev">
                            <div class="slider__item__title">
                                title
                            </div>
                            <div class="slider__item__content">
                                일일일일일일일일일일일일일일일일일일일일일일일일일일일일일일
                            </div><!--context max = 30 -->
                            <div style="float:left;width:60% "></div>
                        </div>
                        <div style="float:left;width:100%;margin-top:3%;  pointer-events: auto;">
                            <button class="custom-btn btn-7" style="float:left;pointer-events: auto;" onclick="#">
                                바로가기 5
                            </button>
                        </div>
                    </div>
                </div>
            </div>

            <div class="slider__controls"></div>
        </div>
    </div>
    <!--  이미지 끝 -->
    <div class="container text-center">
        <!--        class="col-sm-8" sm- 사이즈 조절 row 내 col 비율 퍼센트 -->
        <div class="row">
            <div class="row gx-5">
                <div class="col">
                    <ul class="nav justify-content-center">
                        <li class="nav-item" style="float:left;margin-left:30%">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href=""><span class="spot"></span> 진행중인 이벤트</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                        <li class="nav-item" style="float:left">
                            <div class="svg-wrapper">
                                <svg height="40" width="150" xmlns="http://www.w3.org/2000/svg">
                                    <rect id="shape" height="40" width="150"/>
                                    <div id="text">
                                        <a href=""><span class="spot"></span>곧 있을 이벤트</a>
                                    </div>
                                </svg>
                            </div>
                        </li>
                    </ul>

                </div>
            </div>
        </div>
        <div class="row">
            <br>
            <br>
        </div>
        <br>
        <br>

        <section>
            <article>
                <div  id="site_about" class="custom_project_about_container2" style="border:1px solid; ">
                    <div class="custom_project_about2">
                        <div >
                            <img src="/img/notImg.png" style="width:400px;margin-top:20%" alt="Image">
                        </div>
                        <div >
                            <div >
                                <h1>사이트 소개 </h1>
                                <p><Strong>다양한 이벤트</Strong> : 특별 기간, 쿠폰 전용 이벤트가 존재하며 필요한 카테고리의 이벤트를 쉽게 찾을 수 있습니다.</p>
                                <p><Strong>다양한 이벤트</Strong> : 특별 기간, 쿠폰 전용 이벤트가 존재하며 필요한 카테고리의 이벤트를 쉽게 찾을 수 있습니다.</p>
                                <p><Strong>다양한 이벤트</Strong> : 특별 기간, 쿠폰 전용 이벤트가 존재하며 필요한 카테고리의 이벤트를 쉽게 찾을 수 있습니다.</p>
                            </div>
                        </div>
                    </div>
                </div>
            </article>
            <br>
            <div>

                <div style="margin: auto;width: 450px;border: 1px solid;text-align: center;border-radius: 5px;height:45px;font-size: 33px;">
                    프로젝트 소개
                </div>
            </div>
            <br>
            <article  class="custom_project_about_container ">

                <div >
                    <div class="custom_project_about">
                        <div style="margin-top:10%">Java17, Spring boot 3.2 , Security 6.2,thymeleaf</div>
                        <div>Oracle19c, JPA, QueryDsl</div>
                        <div>Tool: IntelliJ, Git</div>
                        <div>docs: Adoc, REST-DOC</div>
                    </div>
                </div>
                <div>
                    <div class="custom_project_about">
                        <div style="margin-top:10%">홈쇼핑 프로젝트의 목표로 개발하였고</div>
                        <div>보안,인증,카테고리,상품,결제,이벤트,쿠폰 이 주요 기능 이고</div>
                        <div>1인 개발이며 제작 기간은 1~2달 ,</div>
                        <div>CI/CD 는 Git 으로 진행 됩니다.</div>
                    </div>
                </div>
                <div>
                    <div class="custom_project_about">
                        <div style="margin-top:2%">클린 아키텍처 구조를 참고해며 도메인 패키징을 했고</div>
                        <div>상위 계층의 객체를 사용하지 않게 설계 설계했습니다.</div>
                        <div>그리고 단위 테스트 방식으로 서비스 & API 테스트를</div>
                        <div>만들었고 Gitflow 방식으로 코드를 관리했습니다.</div>
                    </div>
                </div>

                <div id="project_about">
                    <div class="custom_project_about_img" style="    width: calc(29.33% - 10px);">
                        <img src="/img/javamon.png" style="margin-top: 5%;margin-right: 40%; width: 200px;height: 145px;">
                    </div>
                </div>

                <div>
                    <div class="custom_project_about">
                        <div style="margin-top:6%"> 최소 비용으로 진행 되었으며 아래와 같습니다.</div>
                        <div>AWS: app , batch server [무료]</div>
                        <div>OCS : image , db(oracle) [무료]</div>
                        <div>sms 인증 : apick.com [건당 6원]</div>
                        <div>결제 : bootpay (테스트 용)[무료]</div>
                    </div>
                </div>

                <div>
                    <div class="custom_project_about" style="    width: 417px;">
                        <div style="margin-top:4%">한 번에 보는 코드 요약</div>
                        <div> ·Optional를 사용하여 쿼리 값을 미리 검증</div>
                        <div> ·예외 처리는 조건에 맞지 않다면 ErrorCode 로 반환</div>
                        <div> ·코드 2 Depth 이하 지향 & 일급 컬렉션 우선 사용 & 코드 컨벤션을 지키며 개발</div>
                        <div> ·코드가 길어지거나 반복되면 메서드 분리</div>
                    </div>
                </div>
            </article>
        </section>
    </div>
    <br>
    </body>
    <script src="/js/Carousel.js"></script>
    <script>
        // image slider 초기 셋팅
        const myCarousel = new Carousel({
              container: document.querySelector('.slider'),
              items: document.querySelectorAll('.slider__item'),
              displayControls: true,
              controlsContainer: document.querySelector('.slider__controls'),
              textControls: ["<i class='fas fa-chevron-left'></i>", "<i class='fas fa-chevron-right'></i>"],
              autoplay: true,
              autoplayTime: 500000
        });
        function link(url){
            window.location.href = url;
        }
    </script>
</th:block>
</html>