<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml"
      xmlns:th="http://www.thymeleaf.org"
      xmlns:layout="http://www.ultraq.net.nz/thymeleaf/layout"
      layout:decorate="~{layout/default}">
<head>
    <meta charset="UTF-8">
    <title>login</title>
    <link rel="icon" href="/img/brand.png"/>
    <link rel="apple-touch-icon" href="/img/brand.png"/>
</head>
<th:block layout:fragment="content">
<div id="loginDiv" style="display:none;">
    <h1>Please Log In </h1>
    <form action="javascript:login()">
        <div>
            <input type="text" name="username" id="username" placeholder="Username"/>
        </div>
        <div>
            <input type="password" name="password" id="password" placeholder="Password"/>
        </div>
        <input type="submit" value="Log in"/>
    </form>
</div>
<script>


    function validateLoggedInUser() {
        if (isAuthentication) {

            history.back();
        }
        document.getElementById("loginDiv").style.display = "block";
        console.info("not login");
    }

    validateLoggedInUser();


    function login() {
        var username = document.getElementById('username').value;
        var password = document.getElementById('password').value;
        var data = {
            username: username,
            password: password
        };
        var jsonData = JSON.stringify(data);

        fetch("/api/auth/login", {
            method: 'POST',
            headers: {'Content-Type': 'application/json'},
            body: jsonData
        }).then((response) => {
            return response.json()
        }).then(response => {
            setCookieMin("accessToken", "Bearer " + response.token, 30);
            setCookie("refreshToken", "Bearer " + response.refreshToken, 365);
            history.back();
        }).catch(error => {
            console.log("error" + error);
        });
    }

</script>
</th:block>
</html>